.page__main {
    height: 30em;
    width: 50em;
    background-color: #203239;
    border-radius: .75em;
    margin-top: 10rem;
    box-shadow: 0px 1px 30px #2a414b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 5px #131d21;
}

p{
    font-weight: 700;
    font-size: xx-large;
    color: black;
    
}